:root {
    --primary-color: #5B88FD;
    --text-color: #545454;
    --text-color-lighter: #A6A6A6;
    --secondary-color: #0A90EB;
    --white: #FFFFFF;
}

body {
    font-family: 'pt sans', sans-serif;
    font-size: 1.3rem;
    color: var(--text-color);
    min-height: 100vh;
    margin: 0;
}

.navbar-brand {
    font-size: 35px;
    color: var(--primary-color);
    font-weight: bold;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h1, h2 {
    font-size: 70px;
    color: var(--white);
    font-weight: bold;
}

h4 {
    font-size: 50px;
    color: var(--text-color);
    font-weight: bold;
}

.carousel-caption >p {
    font-size: 25px;
    color: var(--white);
}

h5 {
    font-size: 40px;
    font-weight: bold;
}

@media (max-width:800px) {
    .logo {
        width: 40;
        height: 40;
    }
    h1, h2 {
        font-size: 24px;
    }
    .carousel-caption >p {
        font-size: 15px;
    }
    h4, h5 {
        font-size: 24px;
    }
    .card-text {
        font-size: 15px;
        margin: auto 5px;
    }
} 